old_files_and_code/gbt_regex.R

old_files_and_code/old_code.R

datafiles/HILIC_DielRePoo-AlanineSarcosine.csv
datafiles/HILIC_MasterList_Summer2016.csv
datafiles/HILIC_TQS_GBT_MasterList.csv
datafiles/ReRuns_TQS_Transition_Results.csv
datafiles/Sample List GBT Trial ReRuns TQS Tests July 2019.csv
datafiles/Sample List GBT Trial ReRuns TQS Tests July 2019.xlsx